body {
    background-color: goldenrod;
    font-family: 'Courier New', Courier, monospace;
}

  h1 {
      color: purple;
  }

  img:hover {
    filter: invert(1);
    transition: 1s;
}

.ben {
    display: table;
      margin-right: auto;
  margin-left: auto;
}